%nav
	=link_to "New Message", new_message_path


%h3="Messages"

%hr

%div.list
	%table.list
		= render partial: 'header_row'
		- @messages.each do |message|
			= render partial: 'message', object: message


	