%nav
  - breadcrumb :messages


%h3="Messages"

%div.actionlist
  .item
    =link_to "Database Connections", multidatabase.connections_path
  .item
    =link_to "New Message", new_message_path



%div.list
  %table.table-condensed
    = render partial: 'header_row'
    - @messages.each do |message|
      = render partial: 'message', object: message


%div.test
  = "This is a test of the css"
	