
%nav.navbar.navbar-default{role: "navigation"}
  %div.container
    %div.navbar-header
      - if current_page?(main_app.root_url)
        %ol.breadcrumb
          %li= "Home"
      - else
        = breadcrumbs  style: :bootstrap
