// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actionlist {
	text-align: left;
	font-size: 12px;
}

.actionlist .item {
	padding: 5px;
	border: 1px solid;
	background-color: cyan;
	float: right;
}

.list {

  margin-top: 40px;

}

.test{
	background-color: red;
}